@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb; /* Light background */
  --foreground: #111827; /* Dark text */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}